{% load static %}
<!DOCTYPE html>
<html lang="ro">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Creare cont</title>
<link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>
<body>
<main class="page">
  <section class="card">
    <h1>Create account</h1>
    <form method="POST" class="register-form" id="registerForm">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Username" required>
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <select name="role" required>
        <option value="">Select role</option>
        <option value="organizer">Organizer</option>
        <option value="participant">User</option>
      </select>
      <button type="submit">Create account</button>
      {% if error %}
          <p class="error">{{ error }}</p>
      {% endif %}
    </form>
  </section>
</main>

<!--<script src="{% static 'JS/register.js' %}"></script>-->
</body>
</html>
